$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0f4171; /* 75% of Black */
$secondaryBlue: #155c9e; /* 65% of Black */
$thirdBlue: #1769b5; /* 40% of $mainBlue */
$lightOrange: #EE964B;
$lightgreen: green;
$darkOrange: #F95738;
$darkgray: rgb(20, 20, 20);
$lightGray: rgb(110, 107, 107);
$darkRed:red;