.generic-content {
  p, li {
    font-size: 1.15rem;
  }

  blockquote, blockquote p {
    font-size: 1.5rem;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {font-size: 3rem}
  h2 {font-size: 2.25rem}
  h3 {font-size: 2rem}
  h4 {font-size: 1.75rem}
  h5 {font-size: 1.6rem}
  h6 {font-size: 1.15rem}

}